# Ignore objects and archives.
*.[o]
*.gch
# Ignore old CVS directories
CVS
Release/
Debug/
*.exe
*.obj
*.ncb
*.log
*.tmp
*.log
*.dmg
*.bz2
*.tmp
*.suo
*.sdf
*.lib
*.ii
*.s
*.dSYM/
*.ipch
*.opensdf
*.vcxproj.user.*
*.vcxproj.user
.DS_Store
.gdb_history
